<ion-header>
  <ion-toolbar>
    <ion-title>
      Primera app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

</ion-content>
<ion-badge>
  Prueba con blank
</ion-badge>

<ion-badge color="primary">“Tal vez sea la propia simplicidad del asunto lo que nos conduce al error.” </ion-badge>
<ion-badge color="secondary">“Puedo aceptar el fracaso, pero no puedo aceptar no tratar.”</ion-badge>
<ion-badge color="tertiary">“Tal vez sea la propia simplicidad del asunto lo que nos conduce al error.”</ion-badge>
<ion-badge color="success">“He aprendido que los errores pueden ser tan buenos profesores como el éxito.”</ion-badge>
<ion-badge color="warning">“Las personas no son recordadas por el número de veces que fracasan, sino por el número de veces que tienen éxito.”</ion-badge>
<ion-badge color="danger">“Lo importante es levantarse después de haberse caído, lo importante no es si sabe, lo importante es si aplica lo que se ha <br/>aprendido.”</ion-badge>
<ion-badge color="light">“El hombre que ha cometido un error y no lo corrige comete otro error mayor.”</ion-badge>
<ion-badge color="medium">“Como todos los soñadores, confundí el desencanto con la verdad.”</ion-badge>
<ion-badge color="dark"> “Deja de arrepentirte por tus caídas del pasado, levántate y haz todo lo que antes no hiciste.”</ion-badge>

<!-- Item with badge on left and right -->
<ion-item>
  <ion-badge slot="start">wil</ion-badge>
  <ion-label>my app</ion-label>
  <ion-badge slot="end">gracias</ion-badge>
</ion-item>